<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new profession</title>
</head>
<body>
<form th:method="POST" th:action="@{/criminalProfession/new}" th:object="${criminalProfession}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
    <input type="submit" value="Save"/>
</form>
</body>
</html>