<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new profession</title>
    <link rel="stylesheet" href="/new.css?v=1">
</head>
<body>
<div class="head-line">
    <img src="/3724033.png" alt="Police badge" class="image-above">
    <h1 class="h1">Add New Profession</h1>
</div>
<hr>
<div class="form-container">
    <form th:method="POST" th:action="@{/criminalProfession/new}" th:object="${criminalProfession}">
        <label for="name">Enter the name of the profession:</label>
        <input type="text" th:field="*{name}" id="name"/>
        <div class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
        <input type="submit" value="Save"/>
    </form>
</div>
<hr>
<div class="center-menu">
    <a href="/criminalProfession/showAll">Back to Professions</a>
    <a href="/" class="menu-link">Menu</a>
</div>
</body>
</html>