<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Criminal Professions</title>
</head>
<body>
<div th:each="criminalProfession : ${criminalsProfession}">
    <a th:href="@{/criminalProfession/{professionId}(professionId=${criminalProfession.id})}" th:text="${criminalProfession.id + ' ' + criminalProfession.Name}">Criminal Profession</a>
</div>
<a href="/criminalProfession/new">Create new profession</a><br>
<a href="/">Menu</a>
</body>
</html>