<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Criminals by Profession</title>
    <link rel="stylesheet" href="/showSelected.css?v=1">
</head>
<body>
<div class="head-line">
    <img src="/3724033.png" alt="Police badge" class="image-above">
    <h1>Profession: <span th:text="${profession.Name}"></span></h1>
</div>
<hr>
<ul class="criminals-list">
    <li th:each="criminal : ${criminals}">
        <a th:href="@{/criminals/{id}(id=${criminal.id})}" th:text="${criminal.name}"></a>
    </li>
</ul>
<div class="center-menu">
    <a href="/" class="menu-link">Menu</a>
</div>
</body>
</html>