<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Group Members</title>
  <link rel="stylesheet" href="/showSelected.css?v=1">
</head>
<body>
<div class="head-line">
  <img src="/3724033.png" alt="Police badge" class="image-above">
  <h1>Group: <span th:text="${group.groupName}"></span></h1>
</div>
<hr>
<ul class="criminals-list">
  <li th:each="member : ${members}">
    <a th:href="@{'/criminals/' + ${member.id}}" th:text="${member.name}"></a>
  </li>
</ul>
<div class="center-menu">
  <a href="/group/new" class="menu-link">Create new group</a>
  <br>
  <a href="/" class="menu-link">Menu</a>
</div>
</body>
</html>