<!DOCTYPE html>
<html lang="ua" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Criminal</title>
    <link rel="stylesheet" href="/createCriminals.css?v=1">
</head>
<body>
<div class="head-line">
    <img src="/3724033.png" alt="Police badge" class="image-above">
    <h1>Create Criminal</h1>
</div>
<hr>
<form method="post" th:action="@{/criminals}" th:object="${criminal}">
    <div class="inner-div">
        <label for="surname">Surname:</label>
        <input type="text" th:field="*{surname}" id="surname"/>
        <div style="color:red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname Error</div>
    </div>
    <div class="inner-div">
        <label for="name">Name:</label>
        <input type="text" th:field="*{name}" id="name"/>
        <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
    </div>
    <div class="inner-div">
        <label for="nickname">Nickname:</label>
        <input type="text" th:field="*{nickname}" id="nickname"/>
        <div style="color:red" th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}">Nickname Error</div>
    </div>
    <div class="inner-div">
        <label for="height">Height:</label>
        <input type="number" th:field="*{height}" id="height"/>
        <div style="color:red" th:if="${#fields.hasErrors('height')}" th:errors="*{height}">Height Error</div>
    </div>
    <div class="inner-div">
        <label for="hairColour">Hair Colour:</label>
        <input type="text" th:field="*{hairColour}" id="hairColour"/>
        <div style="color:red" th:if="${#fields.hasErrors('hairColour')}" th:errors="*{hairColour}">Hair Colour Error</div>
    </div>
    <div class="inner-div">
        <label for="eyeColour">Eye Colour:</label>
        <input type="text" th:field="*{eyeColour}" id="eyeColour"/>
        <div style="color:red" th:if="${#fields.hasErrors('eyeColour')}" th:errors="*{eyeColour}">Eye Colour Error</div>
    </div>
    <div class="inner-div">
        <label for="specialFeatures">Special Features:</label>
        <textarea th:field="*{specialFeatures}" id="specialFeatures"></textarea>
    </div>
    <div class="inner-div">
        <label for="nationality">Nationality:</label>
        <select th:field="*{nationality}" id="nationality">
            <option value="">Select Nationality</option>
            <option th:each="nationality : ${nationalities}" th:value="${nationality.id}" th:text="${nationality.name}"></option>
        </select>
        <div style="color:red" th:if="${#fields.hasErrors('nationality')}" th:errors="*{nationality}">Nationality Error</div>
    </div>
    <div class="inner-div">
        <label for="placeOfOrigin">Place of Origin:</label>
        <input type="text" th:field="*{placeOfOrigin}" id="placeOfOrigin"/>
        <div style="color:red" th:if="${#fields.hasErrors('placeOfOrigin')}" th:errors="*{placeOfOrigin}">Place of Origin Error</div>
    </div>
    <div class="inner-div">
        <label for="dateOfBirth">Date of Birth (yyyy-MM-dd):</label>
        <input type="text" th:field="*{dateOfBirth}" id="dateOfBirth"/>
        <div style="color:red" th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}">Date of Birth Error</div>
    </div>
    <div class="inner-div">
        <label for="lastPlaceOfResidence">Last Place of Residence:</label>
        <input type="text" th:field="*{lastPlaceOfResidence}" id="lastPlaceOfResidence"/>
        <div style="color:red" th:if="${#fields.hasErrors('lastPlaceOfResidence')}" th:errors="*{lastPlaceOfResidence}">Last Place of Residence Error</div>
    </div>
    <div class="inner-div">
        <label for="lastCase">Last Case:</label>
        <input type="text" th:field="*{lastCase}" id="lastCase"/>
        <div style="color:red" th:if="${#fields.hasErrors('lastCase')}" th:errors="*{lastCase}">Last Case Error</div>
    </div>
    <div class="inner-div">
        <label for="group">Group:</label>
        <select th:field="*{group}" id="group">
            <option value="">Select Group</option>
            <option th:each="group : ${groups}" th:value="${group.id}" th:text="${group.groupName}"></option>
        </select>
        <div style="color:red" th:if="${#fields.hasErrors('group')}" th:errors="*{group}">Group Error</div>
    </div>
    <div class="inner-div">
        <label for="profession">Profession:</label>
        <select th:field="*{profession}" id="profession">
            <option value="">Select Profession</option>
            <option th:each="profession : ${professions}" th:value="${profession.id}" th:text="${profession.name}"></option>
        </select>
        <div style="color:red" th:if="${#fields.hasErrors('profession')}" th:errors="*{profession}">Profession Error</div>
    </div>
    <div class="inner-div">
        <label for="language">Language:</label>
        <select th:field="*{language}" id="language">
            <option value="">Select Language</option>
            <option th:each="language : ${languages}" th:value="${language.id}" th:text="${language.name}"></option>
        </select>
        <div style="color:red" th:if="${#fields.hasErrors('language')}" th:errors="*{language}">Language Error</div>
    </div>
    <input class="button" type="submit" value="Create!"/>
</form>
<a href="/">Menu</a>
</body>
</html>
