<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/criminals.css?v=1">
</head>
<body>
    <div class = "head-line">
        <img src="/3724033.png" alt="Police badge" class="image-above">
        <h1>All Criminals</h1>
    </div>
    <hr>
<div class = "all" th:each="c : ${criminals}">
    <a th:href="@{criminals/{id}(id=${c.getId()})}" th:text="${c.getName() + ' ' + c.getSurname() + ' ' + c.getDateOfBirth()}">Criminal</a>
</div>
    <div class = "center-menu">
        <a href="/">Menu</a>
    </div>
</body>
</html>