<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Filter Criminals</title>
</head>
<body>
<h1>Filter Criminals</h1>
<form th:action="@{/criminals/filteredCriminals}" method="post" th:object="${criminal}">
  <label for="surname">Surname:</label>
  <input type="text" id="surname" name="surname" th:value="${criminal.surname}">
  <br>
  <label for="name">Name:</label>
  <input type="text" id="name" name="name" th:value="${criminal.name}">
  <br>
  <label for="nickname">Nickname:</label>
  <input type="text" id="nickname" name="nickname" th:value="${criminal.nickname}">
  <br>
  <label for="height">Height:</label>
  <input type="number" id="height" name="height" th:value="${criminal.height}">
  <br>
  <label for="hairColour">Hair Colour:</label>
  <input type="text" id="hairColour" name="hairColour" th:value="${criminal.hairColour}">
  <br>
  <label for="eyeColour">Eye Colour:</label>
  <input type="text" id="eyeColour" name="eyeColour" th:value="${criminal.eyeColour}">
  <br>
  <label for="specialFeatures">Special Features:</label>
  <input type="text" id="specialFeatures" name="specialFeatures" th:value="${criminal.specialFeatures}">
  <br>
  <label for="placeOfOrigin">Place of Origin:</label>
  <input type="text" id="placeOfOrigin" name="placeOfOrigin" th:value="${criminal.placeOfOrigin}">
  <br>
  <label for="dateOfBirth">Date of Birth:</label>
  <input type="text" id="dateOfBirth" name="dateOfBirth" th:value="${criminal.dateOfBirth}">
  <br>
  <label for="lastPlaceOfResidence">Last Place of Residence:</label>
  <input type="text" id="lastPlaceOfResidence" name="lastPlaceOfResidence" th:value="${criminal.lastPlaceOfResidence}">
  <br>
  <label for="lastCase">Last Case:</label>
  <input type="text" id="lastCase" name="lastCase" th:value="${criminal.lastCase}">
  <br>
  <label for="group">Group:</label>
  <select id="group" name="group">
    <option th:each="group : ${groups}" th:value="${group.id}" th:text="${group.getGroupName()}" th:selected="${criminal.group != null && criminal.group.id == group.id}"></option>
  </select>
  <br>
  <label for="profession">Profession:</label>
  <select id="profession" name="profession">
    <option th:each="profession : ${professions}" th:value="${profession.id}" th:text="${profession.getName()}" th:selected="${criminal.profession != null && criminal.profession.id == profession.id}"></option>
  </select>
  <br>
  <label for="language">Language:</label>
  <select id="language" name="language">
    <option th:each="language : ${languages}" th:value="${language.id}" th:text="${language.name}" th:selected="${criminal.language != null && criminal.language.id == language.id}"></option>
  </select>
  <br>
  <label for="nationality">Nationality:</label>
  <input type="text" id="nationality" name="nationality" th:value="${criminal.nationality}">
  <br>
  <label for="archived">Archived:</label>
  <input type="checkbox" id="archived" name="archived" th:checked="${criminal.archived}" />
  <br>
  <button type="submit">Filter</button>
</form>
</body>
</html>