<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
    <li><a href="/criminals">All Criminals</a></li>
    <li><a href="/criminals/new">Create Criminal</a></li>
    <li><a href="/criminalProfession/showAll">Criminal Professionals</a></li>
    <li><a href="/group/showAll">Criminal Group</a></li>
    <li><a href="/language/showAll">Languages</a></li>
    <li><a href="/nationality/showAll">Nationalities</a></li>
    <li><a href="/criminals/filter">Filter for Criminals</a> </li>
</ul>
</body>
</html>